/* ========================
   FOR TEST ONLY
======================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	display: flex;
	min-height: 100vh;
	background-color: #f5f5f5;
	/*background-color: #93027c; !* for test *!*/
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3 {
	font-family: Montserrat;
	font-weight: 300;
	font-smooth: always;
}
#content{
	color: #404041;
}

.hidden{
	display: none !important;
}

.top-nav-big-icon{
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #8b8b8b;
	color:  #8b8b8b;
	height: 32px;
	width: 32px;
	border-radius: 50%;
 }

.top-nav-big-icon:hover{
	cursor: pointer;
	border: 1px solid var(--colortextlink);
	color: var(--colortextlink);
}


/* ========================
   VARS
======================== */
:root{
	--left-menu-default-width : 64px;
	--top-menu-height : 64px;
	--left-menu-minimized-width : 10px;
	--left-menu-full-open-width : 200px;
}

/* ========================
   Top Menu
======================== */
#top-menu {
	--top-menu-hover-bg-color : rgba(0,0,0,0.1);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--top-menu-height);
	background-color: #ffffff;
	color: #4d5b68;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	z-index: 1000;

	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#top-menu .top-menu-left,
#top-menu .top-menu-center,
#top-menu .top-menu-right {
	display: flex;
	align-items: center;
}

#top-menu .logo img {
	height: calc(var(--top-menu-height) - 20px);
	margin-left: 8px;
}

#top-menu .search-form {
	display: block;
	position: relative;
	margin-right: 64px;
}



.top-menu-search-dropdown{
	display: none;
	position: absolute;
	top: calc(var(--top-menu-height) - 15px);
	left: 0;
	background: #fff;
	/*background-color: rgba(255,255,255,.8);*/
	/*backdrop-filter: blur(5px);*/
	box-shadow: 0px 20px 40px rgba(0,0,0,0.3);


	width: 600px;
	transform: translateX(-25%);
	border-radius: 10px;
	overflow: hidden;
}
#top-menu .search-form:has(input[type="search"]:focus, .top-menu-search-dropdown:hover) .top-menu-search-dropdown{
	display: block;
}

.top-menu-search-dropdown-button-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 2 colonnes de largeur égale */
	gap: 0.5rem; /* espace entre les boutons */
	padding: 0.5rem;
}

.top-menu-search-dropdown-button-list button {
	width: 100%; /* les boutons remplissent leur cellule */
	text-align: left; /* aligne le texte à gauche */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#top-menu .search-form input[type="search"]{
	width: 100%;
	padding: 10px 35px 10px 20px;

	background-color: transparent;
	font-size: 14px;
	line-height: 16px;
	box-sizing: border-box;

	color: #575756;
	background-color: transparent;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 95% center;
	background-position: calc(100% - 16px) center;
	border: 1px solid #c4c4c2 !important;
	transition: all 250ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	font-style: oblique;
	max-width: 600px;
	outline: 3px solid rgba(0, 144, 255, 0);

	border-radius: 30px;
}

#top-menu .search-form input[type="search"]:focus:not(.button):not(.buttonwebsite):not(.buttonreset):not(.select2-search__field):not(#top-bookmark-search-input):not(.search_component_input):not(.input-nobottom),
select:focus, .select2-container--open [aria-expanded="false"].select2-selection--single,
.select2-container--focus span.selection span.select2-selection {
	border-radius: 30px !important;
	border: 1px solid #c4c4c2 !important;
	outline: 3px solid rgba(0, 144, 255, 0.19);

}

.top-menu-search-dropdown-button-list:has(.highlight) .global-search-item:not(.highlight) {
opacity: 0.6;
}


#top-menu .top-nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 16px;
	margin-left: 16px;
}

#top-menu .top-nav a {
	text-decoration: none;
}



#top-menu .user-menu img.user-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 8px;
}

.top-menu-item {
	margin-right: 5px;
}

/* ========================
   Left Menu
======================== */
#left-menu {
	--left-menu-width : var(--left-menu-default-width);
	--colortextlink : #ecf0f1;
	--menu-background: #34495e;
	--menu-background-hover: rgb(45, 60, 75);



	position: fixed;
	top: var(--top-menu-height);
	left: 0;
	height: 100%;

	background-color: var(--menu-background);
	color: var(--colortextlink);

	transition: width 0.3s ease;
	z-index: 900;
	width: var(--left-menu-width);

	padding-top: 10px;
	box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);


	overscroll-behavior: contain;
}



/*!* Effet de masquage progressif pour donner l’illusion qu’il glisse de dessous *!*/
/*#left-menu::after {*/
/*	content: "";*/
/*	position: absolute;*/
/*	top: 0;*/
/*	right: -1px;*/
/*	width: 1px;*/
/*	height: 100%;*/
/*	background: rgba(0,0,0,0.2);*/
/*	z-index: 700; !* fine bordure au-dessus *!*/
/*}*/

/* menu-default body mode */
body:is(.menu-default,.menu-reduced) #left-menu {
	--left-menu-width :  var(--left-menu-default-width);
}
body.menu-minimized #left-menu {
	--left-menu-width :  var(--left-menu-minimized-width );
}

body.menu-minimized #left-menu:hover {
	--left-menu-width :  var(--left-menu-default-width);
}

body.menu-full-open #left-menu, body.menu-default #left-menu:hover {
	--left-menu-width :  var(--left-menu-full-open-width);
}


/* Adjustment du contenu selon le mode */
body:is(.menu-default,.menu-reduced) #content {
	margin-left: var(--left-menu-default-width);
}
body.menu-minimized #content {
	margin-left: var(--left-menu-minimized-width );
}
body.menu-full-open #content {
	margin-left:  var(--left-menu-full-open-width);
}


/* Navigation */


#left-menu nav ul {
	list-style: none;
}

#left-menu nav ul li {
	position: relative;
}

body.menu-minimized #left-menu nav {
	display: none;
}
body.menu-minimized #left-menu:hover nav {
	display: block;
}


.left-menu__item{
	position: relative;
	display: flex;
	align-items: center;
	white-space: nowrap;
	min-height: 2.5em;
	transition: background 0.2s;
}
.left-menu__item:hover{
	background-color: var(--menu-background-hover);
}

/* ========================
   Left Menu __ DROPDROWN
======================== */
/* Drop down sub menu */
.left-sub-menu-parent {
	position: fixed;
	background-color: var(--menu-background-hover);
	height: calc(100vh - var(--top-menu-height));
	top: var(--top-menu-height); /* commence juste sous le top menu */
	left:var(--left-menu-width);
	height: calc(100vh - var(--top-menu-height)); /* prend toute la hauteur restante */
	width: var(--left-menu-full-open-width);
	opacity: 0;

	box-shadow: 10px 0 10px rgba(0,0,0,0.2), inset 5px 0 10px rgba(0,0,0,0.1);

	pointer-events: none; /* évite clics avant affichage */

	overflow-y: auto;
	overscroll-behavior: contain;

	/*backdrop-filter: blur(5px);*/
}

body:is(.menu-default,.menu-full-open) .left-sub-menu-parent {
	transform: translateX(calc(var(--left-menu-width) - var(--left-menu-full-open-width)));
	transition: transform 0.4s ease;
}

/** .left-menu__item:hover > .left-sub-menu-parent { */
.left-menu__item.open > .left-sub-menu-parent {
	opacity: 1;
	transform: translateX(0);
	pointer-events: auto;
}


#left-menu nav ul li a {
	display: block;
	width: 100%;
}

/* Icon et label */
#left-menu .left-menu__item_label_icon {
	--icon-width: 24px;
	display: inline-block;
	margin-left: calc( (var(--left-menu-default-width) - var(--icon-width)) / 2);
	margin-right: calc( (var(--left-menu-default-width) - var(--icon-width)) / 2);
	width: var(--icon-width);
	max-width: var(--icon-width);
	text-align: center;
}
/* Masquer label si minimized */
body:is(.menu-default,.menu-reduced,.menu-minimized) #left-menu .left-menu__item_label_text {
	opacity: 0;
	pointer-events: none; /* évite clics avant affichage */
}

#left-menu.menu-full-open .left-menu__item_label_text, body.menu-default #left-menu:hover .left-menu__item_label_text  {
	display: inline-block;
	margin-left: 8px;
	opacity: 1;
	transition: opacity 0.3s;
	pointer-events: auto;
}

.left-sub-menu-child{

}

/* ========================
   Main Content
======================== */
#content {
	margin-top: 64px;
	margin-left: 64px; /* à ajuster selon le mode */
	transition: margin-left 0.3s ease;
	width: 100%;
}

main#content section{

	margin: 16px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
}

main#content header{
	margin: 0 0 16px 0;
	padding: 16px 32px;
	background-color: #fff;
}

/* ========================
   Burger Button
======================== */
#burger-btn {
	display: block;
	--curent-object-size:40px;
	--curent-object-padding:10px;
	--margin : calc(var(--left-menu-default-width) - var(--curent-object-size) - var(--curent-object-padding));
	background: none;
	border: none;
	cursor: pointer;
	margin-left: var(--margin);
	margin-right: var(--margin);
	width: var(--curent-object-size);
	height: var(--curent-object-size);

	padding: var(--curent-object-padding);
	border-radius: 100%;
}

#burger-btn:hover {
	background: #ededed;
}


.burger-btn-icon {
	width: calc(var(--curent-object-size) - (var(--curent-object-padding) * 2));
	margin: 0 auto;
	display: block;
}

/* ========================
   SUB MENU
======================== */
.left-sub-menu__item{
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}
.left-sub-menu__item-title {
	text-align: center;
	margin: 20px 0px;
	text-transform: uppercase;
}
.left-menu__item-title_label_icon{
	display: inline-block;
	margin-right: 20px;
}

.left-sub-menu__item_label {
	font-weight: bold;
	padding:10px 10px;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.left-sub-menu-child__item_label{
	padding:5px 10px 5px 30px;
}
.left-sub-menu-child__item_label:has(.left-sub-menu-child__item_label_icon){
	padding:5px 10px 5px 10px;
}

.left-sub-menu-child__item_label_icon {
	display: inline-block;
	width: 20px;
}
